* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    text-align:center;
  }

.galeria {
    display: flex;
    max-width: 100vw;
    width: 85%;
    flex-wrap: wrap;
    justify-content: center;    
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(rgba(89, 180, 255, 0.8), rgba(255, 118, 225, 0.8));
}

img {
    width: 450px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    padding: 6px;
}

img:hover {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.05); 
    transform: rotate(-1.2deg) scale(1.05);
    transition: 0.6s ease-out;
    filter: grayscale(0.9);
}

.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;

}
